html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  font-size: 20px;
  background-color: #fff;
  font-family: system-ui;
}

:root {
  --text-color: #000;
  --minmax: minmax(100px, auto);
  --grid-gap: 8px 16px;
}

* {
  box-sizing: border-box;
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

form {
  text-align: center;
  margin-top: 50px;
}

.red {
  background: #ff5d67;
}
.green {
  background: chartreuse;
}
