// HIDDEN NAVBAR

#hidden-nav ul {
  display: flex !important;
  flex-direction: column !important;
  align-content: space-between !important;

  #hidden-nav ul li {
    padding: 10px !important;
    justify-content: space-between !important;
    &:hover {
      background: lightgray !important;
      font-weight: bold !important;
      cursor: pointer !important;
    }
  }
  #hidden-nav ul i {
    padding-left: 15px !important;
  }
}

.hvr ul li a,
.hvr a i {
  &:hover {
    cursor: pointer !important;
    color: rgb(235, 8, 8) !important;
  }
}
